$checkbox-label-color: $text-color;
$checkbox-border-default: $border;
$checkbox-border-active: $primary;
$checkbox-rotate-default: 180deg;
$checkbox-rotate-active: 40deg;
$checkbox-checkmark-border-size: 2px;
$checkbox-box-border-size: 1px;
$checkbox-box-size: 20px;
$checkbox-gutter-size: 15px;
