
$themes: (
  default: (
    'primary': $skyblue,
    'secondary': $onyx,
    'accent': $orange,
    'accent-2': $blue-grey,
    'accent-3': $deep-purple,
    'color': $gray-100,
    'background': #212121
  ),
  purp: (
    'primary': #231942, // Yankees Blue
    'secondary': #5E548E, // Purple Navy
    'accent': #9F86C0, // African Violet
    'accent-2': #BE95C4, // Pastel Violet
    'accent-3': #E0B1CB, // Pink Lavender
    'color': $gray-800,
    'background': $gray-100
  ),
  crimson: (
    'primary': #dc143c, // Yankees Blue
    'secondary': midnightblue, // Purple Navy
    'accent': #9F86C0, // African Violet
    'accent-2': #BE95C4, // Pastel Violet
    'accent-3': #E0B1CB, // Pink Lavender
    'color': $gray-100,
    'background': #212121
  )
);

@function theme-color($key, $variant) {
  $map: map-get($themes, $key);
  @return map-get($map, $variant);
}

$primary: theme-color($theme, 'primary') !default;
$secondary: theme-color($theme, 'secondary') !default;
$accent: theme-color($theme, 'accent') !default;
$accent-2: theme-color($theme, 'accent-2') !default;
$accent-3: theme-color($theme, 'accent-3') !default;
$text-color: theme-color($theme, 'color') !default;
$bg-color: theme-color($theme, 'background') !default;
// $bg-image: url("/static/images/hex.jpg") !default;

$success: $green !default;
$info: $teal !default;
$warning: $amber !default;
$danger: $red !default;

$border: $gray-300 !default;
$light-gray: $gray-200 !default;
$dark-gray: $gray-600 !default;

$primary-lighten: lighten($primary, 15%);
$primary-darken: darken($primary, 15%);

$secondary-lighten: lighten($secondary, 15%);
$secondary-darken: darken($secondary, 15%);

$accent-lighten: lighten($accent, 15%);
$accent-darken: darken($accent, 15%);

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "accent-2": $accent-2,
  "accent-3": $accent-3,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "border-gray": $border,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray
), $theme-colors);

