
/* -- Font -- */

$font-size-base: 14px;

$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.5));
$font-size-h5: ceil(($font-size-base * 1.25));
$font-size-h6: $font-size-base;

$font-size-extra: 2.5rem;
$font-size-large: 2rem;
$font-size-md: 1.5rem;

$line-height-base: 1.428571429 !default;
$line-height-computed: floor(($font-size-base * $line-height-base));

$font-montserrat: 'Montserrat', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-rubik-mono: 'Rubik Mono One', sans-serif;;
$font-roboto: 'Roboto', sans-serif;

$font-family-primary: $font-roboto !default;
$font-family-secondary: $font-rubik !default;

$font-family-monospace:   $font-rubik-mono, "Courier New", monospace !default;

$font-family-base:        $font-family-primary !default;
$font-family-heading:     $font-family-secondary !default;

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
