/*
  BUTTONS
*/

%button-base {
  -webkit-tap-highlight-color: transparent; // Gets rid of tap active state
  border-radius: $button-border-radius;
  border: $button-border;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $button-font-size;
  font-weight: medium;
  // min-height: $button-height;
  letter-spacing: .7px;
  line-height: $button-height;
  margin: 7px 0;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  background-color: inherit;
  // font-weight: 600;

  & .icon {
    &.left {
      order: -1;
    }

    &.right {
      order: 1;
    }
  }

  &:focus {
    outline: none;
  }
}

// Standard Button

.button {
  @extend %button-base;
  background-color: $button-raised-background;

  &:hover {
    background: $button-raised-background-hover;
  }

  &:active {
    background: darken($button-raised-background-hover, 10%);
  }

  &.is-disabled,
  &[disabled],
  &:disabled {
    color: $button-disabled-color !important;
    background: $button-disabled-background !important;
    cursor: default;
    pointer-events: none;
  }
}

// Flat text button

.button-flat {
  @extend %button-base;
  background: transparent;
  color: $button-flat-color;

  &:hover {
    color: $button-raised-background-hover;
  }

  &:active {
    color: darken($button-raised-background-hover, 10%);
  }

  &.is-disabled,
  &[disabled],
  &:disabled {
    color: $button-flat-disabled-color !important;
    cursor: default;
    pointer-events: none;
  }
}

// Outline button

.button-outline {
  @extend %button-base;
  color: $button-flat-color;
  border: 1px solid $primary;

  &:hover {
    color: $button-raised-background-hover;
    border-color: $button-raised-background-hover;
  }

  &:active {
    color: $button-raised-background-hover;
    border-color: darken($button-raised-background-hover, 10%);
  }

  &.is-disabled,
  &[disabled],
  &:disabled {
    color: $button-disabled-color !important;
    border-color: $button-disabled-border !important;
    cursor: default;
    pointer-events: none;
  }
}

// Elevated button

.button-raised {
  @extend .button;
  @include box-shadow(2);

  &.is-disabled,
  &[disabled],
  &:disabled {
    @include box-shadow(0);
  }
}

.button-accent {
  @extend %button-base;
  background-color: $button-accent-background;
  color: $button-accent-color;
  font-weight: 600;

  &:hover {
    color: $button-accent-color-hover;
    background-color: $button-accent-background-hover;
  }

  &:active {
    color: $button-accent-color-hover;
    background-color: darken($button-accent-background-hover, 10%);
  }

  &.is-disabled,
  &[disabled],
  &:disabled {
    @include box-shadow(0);
  }
}

// Fixed action button

.button-fixed-action {
  @extend %button-base;
  background: $button-fixed-background;
  border-radius: $button-fixed-radius;
  bottom: $button-fixed-gap;
  height: $button-fixed-size;
  line-height: $button-fixed-size;
  overflow: hidden;
  position: fixed;
  right: $button-fixed-gap;
  width: $button-fixed-size;
  z-index: 100;

  @include sm() {
    display: none !important;
  }

  &.left {
    left: $button-fixed-gap;
  }

  &.center {
    left: calc(50% - (#{$button-fixed-size} / 2));
    right: calc(50% - (#{$button-fixed-size} / 2));
  }
}

[class*="button"] {
  &.large {
    height: $button-large-height;
    line-height: $button-large-height;
    font-size: $button-large-font-size;
    padding: 0 28px;
  }

  &.small {
    height: $button-small-height;
    line-height: $button-small-height;
    font-size: $button-small-font-size;
    padding: $button-small-padding;
  }

  &.block {
    width: 100%;
  }
}

button {
  @extend %button-base;
}
