.header {
  z-index: z-index(header, base);
  position: sticky;
  top: 0;

  .header-inner {
    display: flex;
    justify-content: center;
    min-height: 100px;
  }

  .extra {
    height: $header-extra-height;
    position: absolute;
    display: block;
    width: 1200px;
    z-index: z-index(header, extra);
    // transform: translateY(-100%);
    transition: transform 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-extra-bg;
      transform: skewX(-30deg);
      transform-origin: bottom center;
      @include header-box-shadow-right();
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-extra-bg;
      transform: skewX(30deg);
      transform-origin: bottom center;
      @include header-box-shadow-left();
    }
  }

  .navbar {
    height: $header-navbar-height;
    position: absolute;
    display: block;
    width: 1000px;
    z-index: z-index(header, navbar);
    // transform: translateY(-100%);
    transition: transform 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-navbar-bg;
      transform: skewX(-30deg);
      @include header-box-shadow-right();
      transform-origin: bottom center;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-navbar-bg;
      transform: skewX(30deg);
      transform-origin: bottom center;
      @include header-box-shadow-left();
    }
  }

  .lightbar {
    height: $header-lightbar-height;
    position: absolute;
    display: block;
    width: 120px;
    z-index: z-index(header, lightbar);
    // transform: translateY(-100%);
    transition: transform 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-lightbar-bg;
      transform: skewX(-30deg);
      transform-origin: bottom center;
      @include header-box-shadow-right();
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-lightbar-bg;
      transform: skewX(30deg);
      transform-origin: bottom center;
      @include header-box-shadow-left();
    }
  }

  .brand {
    height: $header-brand-height;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    z-index: z-index(header, brand);
    // transform: translateY(-100%);
    transition: transform 1s ease-in-out;

    img {
      position: relative;
      z-index: z-index(header, logo);
      margin: 0 auto;
      width: 42px;
      height: auto;
      // clip-path: url();
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-brand-bg;
      transform: skewX(30deg);
      transform-origin: bottom center;
      @include header-box-shadow-left();
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $header-brand-bg;
      transform: skewX(-30deg);
      transform-origin: bottom center;
      @include header-box-shadow-right();
    }
  }
}

.header-banner {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: z-index(header, banner);

  .banner-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background: url("/static/images/hzd-4.jpg"),
        linear-gradient(230deg, $accent, $accent-3);
      background-blend-mode: luminosity;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .banner-content {
    position: relative; // Relative positioning here makes the hero content visible
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    .banner-title {
      font-size: $font-size-extra;
      font-family: $font-family-heading;
    }

    .logo {
      width: 50%;
    }
  }
}
