.nav-drill {
  // margin-top: 50px;
  transform: translateX(-100%);

  body.has-overlay & {
    transform: translateX(0);
  }
}
.nav-is-toggled {
  overflow: hidden;
  &:before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.376);
    z-index: 1045;
  }
  .nav-drill {
    transform: translateX(0);
  }
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.nav {
  &-drill {
    display: flex;
    position: fixed;
    z-index: z-index(sidenav, base);
    top: 0;
    left: 0;
    width: $nav-width;
    height: 100vh;
    background-color: $nav-background-color;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;

    @include sm() {
      width: 300px;
    }

    .sidenav-close {
      color: white;
      position: absolute;
      top: 1rem;
      left: 1.5rem;

      .icon {
        @extend .icon-36;
      }
    }
  }

  &-items {
    flex: 0 0 100%;
    
    &.nav-level-1 {
      margin: 64px 0;
    }
  }

  &-item {
    margin: 0 !important;
    &:not(:last-child) {
      // border-bottom: solid 1px $nav-border-color;
    }
  }

  &-link {
    display: block;
    padding: $nav-padding;
    background-color: $nav-background-color;
    color: $link-color;
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: $font-family-heading;
  }

  &-expand {
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      transform: translateX(100%);
      background-color: $nav-level-background-color;
      transition: 0.3s;
      visibility: hidden;

      .nav-item {
        &:not(:last-child) {
          // border-bottom: solid 1px $nav-level-border-color;
        }
      }

      .nav-link {
        background-color: $nav-level-background-color;
      }

      .nav-back-link {
        display: flex;
        align-items: center;
        background-color: $primary-color !important;
        color: $white;

        &::before {
          @extend .icon;
          content: $nav-icon-arrow-left;
          margin-right: 0.5em;
          font-family: $nav-icon-font;
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        @extend .icon;
        content: $nav-icon-arrow-right;
        flex: 0 1 auto;
        font-family: $nav-icon-font;
      }
    }

    &.active {
      > .nav-expand-content {
        transform: translateX(0);
        visibility: visible;
      }
    }

    // quick example for other level colours
    .nav-expand-content {
      background-color: $nav-level-background-color;
      .nav-link {
        background-color: $nav-level-background-color;
      }
      .nav-expand-content {
        background-color: $nav-level3-background-color;
        .nav-link {
          background-color: $nav-level3-background-color;
        }
        .nav-expand-content {
          background-color: $nav-level4-background-color;
          .nav-link {
            background-color: $nav-level4-background-color;
          }
          .nav-expand-content {
            background-color: $nav-level5-background-color;
            .nav-link {
              background-color: $nav-level5-background-color;
            }
          }
        }
      }
    }
  }

}


span.nav-link {
  border-bottom: 2px solid $white;
}