.divider.light {
  background: #fff;
  background: -webkit-linear-gradient(left, rgb(90,90,90) 0%, rgb(255,255,255) 50%, rgb(90,90,90) 100%);
}

.divider.light:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider.light:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid whitesmoke;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}