.media-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @include lg() {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;

  button,
  [class^="button"] {
    margin: 0;
  }
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 10px;

  button,
  [class^="button"] {
    margin: 0;
  }

  @include sm() {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  }
}

.gameface {
  padding-top: 50px;

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  @include lg() {
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 1fr 300px;
    grid-gap: 1rem;
  }
}

.masonry {
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 250px; /* [3] Set the height for implicitly-created row track */
}